<% current_user = session[:current_user] %>
<% if current_user %>
<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <p>Logged in as <%= User.find(current_user).name %></p>
  <%= link_to "Sign Out", signout_path, {method: "delete"} %>
<% else %>
  <%= link_to "Sign Up", developer_signin_path %>
<% end %>
