<!DOCTYPE html>
<html>
<head>
  <title>FeedMe</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    Pretend I am a monster face
    <hr>
  </header>
  <% if session[:current_user] %>
      <form id = "twitter-form">
        <input type="text" id="twitter-search" />
        <button id = "twitter-submit-button" class = "submit-button">Submit</button>
      </form>

  <form id = "vimeo-form">
    <input type="text" id="vimeo-search" />
    <button id = "vimeo-submit-button" class = "submit-button">Submit</button>
  </form>

      <div id = "github-form">
      </div>

      <div id = "instagram-form">
      </div>

  <% end %>

  <%= yield %>

  <footer>
    <hr>
    Pretend I am monster teeth
  </footer>

</body>
</html>
